<!DOCTYPE html>
<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'style/project_detail.css'%}">
</head>
<body>
    <center><h1> Detail Page</h1></center>
<div class="container">
    {%for project_info in detail%}
    <div class="page">
    <h3>{{project_info.title}}</h3><br>
    <img src="{{project_info.project_img.url}}" class="proimg"><br>
    <p>{{project_info.discription}}</p>
    <p>{{project_info.created.date}}</p><br>
    <hr>
    <h2>Reviews</h2> 
        <div class="rev">
        {%for i in project_info.review_set.all%}
            <div class="rev-con">
            <img src="{{i.owner.pic.url}}" class="user-pic">
            <p class="name">{{i.owner}}</p>
            <p class="body">{{i.body}}</p>
            <hr>
            </div>
        {%endfor%}
        </div>
    {%endfor%}
    </div>
</div>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Review</button>
</form>
</body>