

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 2vh;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2vw;
    padding-left: 15vw;
}

.user-card {
    width: 20vw; 

    margin: 1vw;
    border: 1px solid #ddd;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.user-card img {
    width: 100%;
    height: auto;
    display: block;
}

.user-card ul {
    list-style-type: none;
    padding: 1vw;
    margin: 0;
}

.user-card li {
    margin-bottom: 1vh;
}

.user-name {
    font-weight: bold;
    font-size: 1.8vw; 
}

.user-bio {
    font-size: 1.3vw; 
    color: #555;
}


.search-container {

    top: 5vh; 
    right: 2vw; 
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1vw;
}

#search-input {
    border: 0.1vw solid #ddd;
    border-radius: 0.25vw;
    padding: 0.5vw;
    font-size: 1vw;
    width: 20vw;
    outline: none;
}

#search-input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 0.25vw rgba(0, 123, 255, 0.2);
}

#search-button {
    border: none;
    background-color: #007BFF;
    color: white;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    border-radius: 0.25vw;
    cursor: pointer;
    margin-left: 1vw;
}

#search-button:hover {
    background-color: #0056b3;
}