<!DOCTYPE html>
<head>
{% load static%}
<link rel="stylesheet" href="{% static 'style/home.css'%}">
</head>
<body>
    <h1>Our Users</h1>
    <div class="user-container">
        {% for i in data %}
        <div class="user-card">
            <ul>
                <li><img src="{{ i.pic.url }}" alt="User Picture"></li>
                <li class="user-name">{{ i.name }}</li>
                <li class="user-bio">{{ i.bio|slice:":60" }}</li><br>
                <li><a href="{%url 'project_home'%}" class="linkbox">Projects</a></li>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>